<div class="chat-content">
    {{#if isLoaded}}
        {{{header}}}
        {{{correspondence}}}
        {{{inputForm}}}
    {{else}}
        <p class="chat-content__select-message">Выберите чат чтобы отправить сообщение</p>
    {{/if}}
</div>