@use 'sass/abstracts/variables' as *;
@use 'sass/abstracts/mixins' as *;

html {
  color: $font-color-primary;
  font-family: Inter, sans-serif;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  height: inherit;
}
