*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type='number'] {
  appearance: textfield; /* Firefox */
}

input[type='file'] {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
