<div class="chat-content__correspondence">
    {{#if chatDate}}
    <div class="chat-content__correspondence-date">{{fullDate chatDate}}</div>
    {{/if}}
    <ol class="messages">
        {{{messages}}}
    </ol>
</div>
