@use 'sass/abstracts/mixins' as *;

.register-form-container {
  width: 34rem;
  height: 61.5rem;
}

.login-form-container {
  width: 34rem;
  height: 45rem;
}

.register-form-container,
.login-form-container {
  position: absolute;

  @include absolute-centerHorizontalVertical;
}

.auth-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 5rem 3rem 3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);

  &__title,
  &__register {
    text-align: center;
  }

  &__buttons {
    margin-top: auto;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__submit {
    margin-bottom: 1.4rem;
  }

  &__sign {
    display: block;
    margin: 0 auto;
  }
}
