@use 'sass/abstracts/variables' as *;

.chat {
  display: flex;
  height: inherit;
  max-height: 100vh;
}

.sidebar {
  width: 31rem;
  max-height: 100vh;
  padding: 2.1rem 1rem 0;
  background-color: #fbfbfb;
  overflow-y: scroll;

  &__user-profile-button {
    display: block;
    margin-left: auto;
    color: $font-color-secondary;
  }

  &__search-chat-input {
    width: 100%;
    height: 2.9rem;
    padding-left: 25px;
    border-radius: 0.5rem;
    margin: 2.3rem 0 1.4rem;
    background: url('../../../static/icons/searchIcon.png') no-repeat;
    background-color: #efefef;
    background-position: 42%;
    text-align: center;

    &:focus,
    &:not(:placeholder-shown) {
      background-position: 0;
      text-align: left;
    }
  }
}

.chat-list {
  &__item {
    display: flex;
    width: 100%;
    height: 7.1rem;
    padding: 1.2rem 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    color: $font-color-secondary;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background-color: $background-color-secondary;
    }
  }

  &__user-info,
  &__additional {
    display: flex;
    flex-direction: column;
  }

  &__user-info {
    flex: 1;
    margin-left: 1rem;
  }

  &__additional {
    align-items: flex-end;
    justify-content: space-between;
    justify-self: flex-end;
  }

  &__name {
    color: $font-color-primary;
    font-size: $default-font-size;
  }

  &__mine-last-message {
    color: $font-color-primary;
    font-weight: 700;
  }

  &__last-message {
    margin-top: 0.4rem;
    font-size: 1.2rem;
  }

  &__time {
    font-size: 0.9rem;
  }

  &__message-counter {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: #ffff;
    text-align: center;
  }
}

.chat-content {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex: 1;
  flex-direction: column;
  padding: 1rem 2rem 0 1rem;

  &__info-header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(128 128 128 / 21.2%);
  }

  &__username {
    margin-left: 1rem;
    color: $font-color-primary;
    font-size: $default-font-size;
  }

  &__util-menu {
    margin-left: auto;
  }

  &__new-message-label {
    display: flex;
    flex: 1;
  }

  &__new-message {
    height: 3.2rem;
    flex: 1;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 3rem;
    margin: 0 1.5rem;
    background-color: #efefef;
    font-size: 1.2rem;
  }

  &__correspondence {
    flex: 1;
    padding: 5rem 0 3rem;
    overflow-y: scroll;
  }

  &__correspondence-date {
    margin-bottom: 3rem;
    color: $font-color-secondary;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
  }

  &__input {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid rgb(128 128 128 / 21.2%);
  }

  &__attach,
  &__send {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__popover {
    position: absolute;
    bottom: 5rem;
    width: 16.2rem;
    height: 12.8rem;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    opacity: 0;
    visibility: hidden;
  }

  &__attach:hover .chat-content__popover {
    opacity: 1;
    visibility: visible;
  }
}

.messages {
  position: relative;
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  margin: 0;
  font-size: 1.2rem;

  & > li {
    position: relative;
    z-index: 1;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 8px;
    margin: 2px 8px 2px 0;
    background: #f8f8f8;
    color: $font-color-primary;
    float: left;
    list-style-type: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__mine {
    z-index: 0;
    align-self: flex-end;
    margin: 2px 0 2px 8px;
    background-color: $background-color-secondary;
    color: $font-color-primary;
  }

  &__message-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5rem;
    font-size: 0.9rem;

    & > .delivered {
      width: 1.2rem;
      height: auto;
    }
  }

  &__attach {
    margin-bottom: 0.5rem;
  }

  &__mine-date {
    margin-left: 0.5rem;
    color: $font-color-tertiary;
  }
}
