@use 'sass/abstracts/variables' as *;
@use 'sass/abstracts/mixins' as *;

.profile__container {
  position: relative;
  display: flex;
  height: 100%;

  @include d-flex-centerHorizontalVertical;
}

.profile {
  width: 47rem;

  &__avatar {
    position: relative;
    z-index: 1;
    margin: 0 auto 2.1rem;

    img {
      position: absolute;
      z-index: 10;
    }

    &-hover-change-background {
      position: relative;
      z-index: 1000;
      display: flex;
      width: 13rem;
      height: 13rem;
      background-color: rgb(0 0 0 / 25.3%);
      color: #ffff;
      cursor: pointer;
      font-size: $default-font-size;
      opacity: 0;
      text-align: center;

      @include d-flex-centerHorizontalVertical;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__username {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  &__inputs {
    margin-top: 9.7rem;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: $default-font-size;
    font-weight: 500;
  }

  &__submit {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  &__actions {
    margin-top: 6rem;

    & > *:not(:last-child) {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__back-button {
    position: absolute;
    left: 0;
    display: flex;
    width: 6.4rem;
    height: 100vh;
    border: none;
    background-color: $background-color-secondary;
    cursor: pointer;

    @include d-flex-centerHorizontalVertical;

    &:hover {
      background-color: $background-color-primary;
    }
  }
}
