@use 'sass/abstracts/variables' as *;

.menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;

  &__content {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);

    &-header {
      top: 7%;
      right: 3%;
      width: 21rem;
      height: 9rem;
    }

    &-input {
      bottom: 7%;
      left: 20%;
      width: 16.2rem;
      height: 12.8rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > p {
      margin-left: 1rem;
      color: $font-color-primary;
      font-size: 1.2rem;
    }
  }
}
