<div class="login-form-container">
  <form id="#" class="auth-form">
    <h1 class="auth-form__title">Вход</h1>
    <div class="auth-form__inputs">
      <label class='input__label' for="login">
        Логин
          {{{loginInput}}}
     </label>
     <label class='input__label' for="password">
        Пароль
        {{{passowrdInput}}}
      </label>
    </div>
    <div class="auth-form__buttons">
      {{{submitButton}}}
      {{{registerButton}}}
    </div>
  </form>
</div>