<form action="#">
    <div class="profile__inputs">
        {{{oldPasswordInput}}}
        <span class="divider"></span>
        {{{newPasswordInput}}}
        <span class="divider"></span>
        {{{newPasswordRepeatInput}}}
    </div>

    <div class="profile__actions">
        {{{submitButton}}}
    </div>
</form>


