@use 'sass/abstracts/variables' as *;

.navigation {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &__list {
    display: flex;
    font-size: $default-font-size;
  }

  &__item {
    margin-left: 1rem;
    list-style: none;

    & > a {
      color: $font-color-tertiary;
      text-decoration: none;
    }
  }
}
