<div class="{{styles.avatar}}">
    <img src='{{avatar}}' alt="user-avatar" />
    {{#if withModal}}
    <div id="upload-avatar-button" class="avatar__background-change">
        Поменять <br />
        аватар
    </div>
    {{/if}}
</div>
